.stack {
  display: flex;
  flex-direction: column;

  * + * {
    margin-top: var(--gap);
  }
}

.row {
  flex-direction: row;
  align-items: center;

  * + * {
    margin-top: 0;
    margin-left: var(--gap);
  }
}

.responsive {
  @media (min-width: 640px) {
    flex-direction: row;
    align-items: center;
    * + * {
      margin-top: 0;
      margin-left: var(--gap);
    }
  }
}
